### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Agent tooling ###
.atl/

### Mac OS ###
.DS_Store

### Local docs (not versioned) ###
DOCUMENTACION_PROYECTO.txt
LEVANTAMIENTO_REQUERIMIENTOS.md
.github/COMMIT_GUIDELINES.md

### Maven ###
target/

### Misc ###
javafx.zip
javafx-sdk*/
mvnw
setup-and-run.bat
run.bat
lib/
sdd/
.sdd/
PRESENTACION.txt
dependency-reduced-pom.xml
